@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100&display=swap');
*{
  margin: 0; 
  padding: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navBar{
  display: flex;
  width: 100%;
  padding: .4rem 0 .4rem;
  gap: 1rem;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 25px -10px rgb(0 0 0 / 25%);
  backdrop-filter: blur(20px);
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  gap: .5rem;
}

.img-logo{
  filter: grayscale(100%);
  padding-top: 5px;
}

.txt-logo{
  color: #fff;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: #fff;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap:10px;
  margin-bottom: 10px;
  list-style: none;
}

.menu > li > a{
  padding: .7rem;
  border-radius: 10px;
  transition: 400ms ease;
}

.menu > li > a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.containerDesafio{
  display: flex;
  justify-content: center;
  min-height: 60vh;
  background-color: rgba(146, 59, 227, 0.8);
}

.containerDesafio > h1{
  color: #fff;
}

.aboutMe{
  display: flex;
  flex-wrap: wrap; 
}

.myText{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  line-height: 1.5;
  width: 468px;
}

.myText > h5{
  padding-bottom: .7rem;
}

.txt-profile{
  padding: .7rem 0;
}

.imgProfile{
  clip-path: circle(50% at 50% 50%);
  width: 60%;
  position: absolute;
  z-index: 1;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.computerImg{
  border-radius: 10px;
}

.techAbilities{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abilities{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 40px 0 40px 0;
  gap: 2rem;
}

.abilities img{
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.html{
  background: #E34F26;
}

.css{   
  background: #1572B6;
}

.bootstrap{
  background:#673AB7;
}

.javascript{
  background: #FFD600;
}

.react{
  background:#0277BD;

}

.btnGit > button{
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  background-color: rgb(154, 103, 206);
  border-radius: 10px;
  transition: 400ms ease;
}

.btnGit button:hover{
  background-color: blueviolet;
}

.container-gallery{
  margin-top: 1.5rem;
}

.txtTitle{
  display: flex;
}
.container-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19.2px 12px
}

.gallery img{
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms ease;
}
.gallery img:hover{
  opacity: 0.5;
}

.contact{
  justify-content: center;
  background-color:rgb(154, 103, 206) ;
}

.contact h3{
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

input, textarea {
  background: #fff;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.placeholder::-webkit-input-placeholder{
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
}

.btn-contact{
  width: 120px;
  font-size: 16px;
  border-radius: 7px;
  height: 60px;
  border: none;
  background: #333333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.icons{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 2rem;
}

.icon{
  font-size: 40px;
  color: #707070;
}
.btn-contact:hover{
  background: #3333334c;
  transition: 400ms ease;

}
.footerBox{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}
